<h1>Daniel Yoshizawa Personal Page</h1>
<p>This is a test component22</p>
<div id="card" title="Test Prop" description="Test Description"></div>
<Card title="Test Prop" description="Test Description" />
<script src="javascripts/compiled/card/card.js"></script>
